*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

.beranda{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(224,224,224);

}
      
.hero {
  display: flex;         
  justify-content: center;        
  margin: 10px;
  font-size: 20px;
  align-items: center;
}
